/* BANNER */
.banner {
  color: var(--branco);
  display: flex;
  justify-content: center;
  padding: 10% 0;
  position: relative;
  box-sizing: content-box;
  overflow: hidden;
}

.banner__flutuantes {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.banner__conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vw;
  margin-bottom: 5vw;
}

.banner__titulo {
  color: var(--cor-principal);
  font-size: 6vw;
  font-weight: 900;
  line-height: 1.25;
}

.banner__texto {
  color: var(--branco);
  font-size: 3.5vw;
  line-height: 1.5;
}

.banner__secundario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 3vw;
}

.banner__avaliacao {
  display: flex;
  gap: 1.5vw;
}

.banner__plataforma {
  width: 6vw;
}

.banner__plataforma--alt {
  width: 15vw;
}

.banner__nota {
  width: 20vw;
}

.banner__galeria {
  position: absolute;
  height: 100%;
  z-index: -1;
}

.banner__imagem {
  object-fit: cover;
  height: 100%;
  transform: scale(1.2);
}

@media screen and (min-width: 993px) {
  .banner {
    justify-content: initial;
    overflow: hidden;
    padding: 0;
  }

  .banner__flutuantes {
    flex-direction: row;
    margin-left: 7.5vw;
    margin-right: 7.5vw;
    gap: 5vw;
    padding: 2vw 0;
  }

  .banner__conteudo {
    row-gap: 1vw;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0;
  }

  .banner__titulo {
    font-size: 2.5vw;
  }

  .banner__texto {
    font-size: 1.3vw;
  }

  .banner__secundario {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 2.5vw;
    gap: 1.5vw;
    width: 100%;
    justify-content: space-between;
  }

  .banner__avaliacao {
    display: flex;
    gap: .5vw;
  }

  .banner__plataforma {
    width: 3vw;
    object-fit: contain;
  }

  .banner__plataforma--alt {
    width: 7.5vw;
  }

  .banner__nota {
    width: 7.5vw;
  }

  .banner__imagem {
    object-fit: cover;
    height: 100%;
    transform: scale(1.1);
  }
}